.popup__button-save {
    width: 358px;
    height: 50px;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    margin-top: 48px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
}

.popup__button-save:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 768px) {
    .popup__button-save {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
    }
  }  