.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
    background-image: url(../../../images/ruchka.svg);
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
      background-image: url(../../../images/ruchka_adapt.svg);
      margin-bottom: 6px;
    }
  }

  .profile__edit-button:hover {
    opacity: .6;
    transition: all .5s;
  }