.popup__input {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 2px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }