.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 51px;
}
  
@media screen and (max-width: 920px) {
    .profile {
      margin: 0 19px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .profile {
      padding-bottom: 36px;
      flex-direction: column;
    }
  }