.header__logo {
    max-width: 142px;
    margin: 0;
    align-self: flex-start;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        padding-left: 28px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        padding-bottom: 24.4px;
    }
}