.header {
    margin: 45px 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 400px);
    height: 74px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);   
}

@media screen and (max-width: 1023px) {
    .header {
        width: 100%;
        padding: 28px 0 0 0;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        justify-content: flex-end;
        height: 56px;
    }
}