.cards__like {
   width: 22px;
   height: 19px;
   background-image: url(../../../images/Vector\ \(Stroke\).png);
   background-repeat: no-repeat;
   background-color: transparent;
   background-position: center;
   border: none;
   padding: 0;
   cursor: pointer;
}

.cards__like:hover {
    opacity: 0.5;
  }
  
.cards__like:active {
    background-image: url(../../../images/like\ activ.png);
}