.profile__text {
    max-width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #FFFFFF;
    grid-column: -3 / -1;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 767px) {
    .profile__text {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 1023px) {
    .profile__text {
        text-align: center;
    }
}
