.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close\ Icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
  }
  
  .popup__close:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 768px) {
    .popup__close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
    }
  }

