.profile__name {
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__name {
        max-width: 189px;
        font-size: 27px;
        line-height: 32.68px;
        text-align: center;
    }
}