@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/background/background.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-name/profike__info-name.css);
@import url(../blocks/profile/__info-text/profile__info-text.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_edit/profile__button_edit.css);
@import url(../blocks/profile/__button/_add/profile__button_add.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__like/cards__like.css);

