.profile__info {
    max-height: 73px;
    display: grid;
    grid-template-columns: 1fr 24px;
    align-self: center;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-template-columns: 1fr 18px;
        grid-column-gap: 10px;
        grid-row-gap: 14px;
    }
}