.profile__button_edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../../images/ikon_ruchka.svg);
    border: 1px solid #fff;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .profile__button_edit {
      width: 18px;
      height: 18px;
      margin-bottom: 6px;
    }
  }